<!DOCTYPE html>
<html>
  <head>
    <title>Historical Chart</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}?v=1.0.0">
  </head>
  <body>
    <div class="wrapper">      
      
      <form id="myForm">
        Date:   <input type="date" name="date" id="date" value="2020-03-15"><br>
        Source: <select id="source" name="source" onchange="getSensor()">
                  <option>Select source</option>
                  <option>mqtt_ttn</option>
                  <option>mqtt_csn</option>
                </select>
        Sensor: <select id="sensor" name="sensor" onchange="getFeature()">
                  <option value="">Select sensor</option>
              </select>
        Feature: <select id="feature" name="feature">
                  <option>Select feature</option>
                </select>
      </form>
      <button id="updateButton" onclick="drawLineChart()">Update</button>

      <br>
      <canvas id="myChart" width="2400" height="1000"></canvas>
    </div>

    <script src="{{ url_for('static',filename='js/plotscript.js') }}?v=1.0.0"></script>
  </body>
</html>